 .contact{
    border-bottom: 1px solid rgb(185, 180, 180);
 }
.projectBox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 12px;
    margin-bottom: 80px;
    margin-top: 60px;
    /* gap: 20px; */
    /* background-color: red; */

}
.project1{
    background-color: rgb(255, 252, 255);
    background-image: linear-gradient(to bottom,rgb(221, 211, 211),white);

       border: 1px solid rgb(190, 186, 186);
        padding: 30px 40px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 12px;
        /* margin: 12px; */
        margin-right: 80px;
}
.imgDiv{
    width: 350px;
    height: 230px;
   overflow: hidden;
   border-radius: 8px;


}
.project1:hover>.imgDiv>img{
transform: scale(1.1);
/* border-radius: 8px; */

}
.project1 img{
    width: 350px;
    height: 230px;
    border-radius: 8px;
    transition: 0.6s ease-in-out;

}
 .name{
    color: black;
    font-size: 28px;
    font-weight: 600;
    margin-top: 26px;
    margin-bottom: 15px;
 }
 .trade{
    color: rgb(75,74,74);

    font-size: 20px;
 }
 .connect{
    color: rgb(75,74,74);
  font-size: 20px;
  line-height: 1.5rem;
  margin: 15px 0px;
 }
 .phone{
    color: rgb(75,74,74);
    font-size: 20px;
    margin: 5px 0px;
 }
 .phone:hover>span{
    color: rgb(248, 9, 81);
    border-bottom: 1px solid rgb(248, 9, 81);
 }
 .bottomContent{
    margin: 35px 0px;

}
.bottomContent p{
font-size: 20px;
}
.icons{
    margin-top: 30px;
float: left; 
transition: 0.4s ease-in-out; 
margin-bottom: 23px;

}
.icons:hover{
    margin-top: 22px;

}
.icons i{
    font-size: 25px;
    border: 1px solid rgb(204, 199, 199);
    padding: 10px;
    border-radius: 8px;
    margin-right: 8px;
    color: rgb(148, 143, 143);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icons i:hover{
     background-color: rgb(248, 9, 101);
    cursor: pointer;
    color: white;
}
 .detailCont{
    background-color: rgb(201, 194, 194);
    border-radius: 10px;
    margin-right: 10px;
    /* padding: 300px; */
    /* margin-left: 50px; */
    padding: 40px;
 }
 .inputs{
    display: flex;
    /* margin: 20px; */
    gap: 20px;

 }
 .detailCont .inputs input{
    /* width: 95%; */
    padding: 17px;
    margin-right: 28px;
    margin-top: 15px;
    border: 2px solid rgb(170, 166, 168);
    outline: none;
    border-radius: 10px;
     color: rgb(75,74,74);
     margin-bottom: 24px;
 }
 .detailCont p{
    color: rgb(75,74,74);
    font-size: 17px;
    /* margin: 10px 0px; */
 }
 .detailCont input, textarea{
    width: 100%;
    padding: 17px;
    margin: 15px 0px;

    border: 2px solid rgb(170, 166, 168);
    outline: none;
    border-radius: 10px;
     color: rgb(75,74,74);
 }
 .detailCont  textarea{
    width: 100%;
    padding: 60px 17px;
    margin: 15px 0px;

    border: 2px solid rgb(170, 166, 168);
    outline: none;
    border-radius: 10px;
     color: rgb(75,74,74);
 }
 .message{
    width: 100%;
    padding:17px;
    margin: 15px 0px;
background-image: linear-gradient(to left, white,rgb(202, 194, 194));
    border: 1px solid rgb(170, 166, 168);
    /* outline: none; */
    border-radius: 10px;
     text-align: center;
    
 }
 .message span{
    
    color: rgb(248, 9, 101);
  font-size: 20px;
 }
  