.footer {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.name{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(75,74,74);
    font-size: 25px;
    font-weight: 600;
}
.copyRight{
    color: rgb(75,74,74);
font-size: 18px;
}
.copyRight span{
    color: rgb(248,9,148);
    font-size: 25px;
    font-weight: 600;
}
.imgDiv{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.imgDiv img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}